// Light theme
$l-bg: #fdf6e3; // Background
$l-bg2: #eee8d5;
$l-text1: #657b83; // Text main
$l-text2: #586e75; // Text emphasis
$l-text3: #93a1a1; // Text de-emphasis (comments)

// Dark theme 
$d-bg: #002b36; // Background
$d-bg2: #073642;
$d-text1: #839496; // Text main
$d-text2: #93a1a1; // Text emphasis
$d-text3: #586e75; // Text de-emphasis (comments)

// Colors
$yellow:  #b58900;
$orange:  #cb4b16;
$red:     #dc322f;
$magenta: #d33682;
$violet:  #6c71c4;
$blue:    #268bd2;
$cyan:    #2aa198;
$green:   #859900;

body {
	overflow: hidden;

	font-family: 'Fira Code', monospace;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

main.desktop {
	display: flex;
	
	height: 100vh;
	overflow: hidden;
	width: fit-content;

	transition: transform 0.6s;

	&.terminal-showing {
		transform: translate(0);
	}

	&.standard-showing {
		transform: translate(-100vw);
	}

	// Theme differences
	&.dark {
		#terminal {
			background-color: $d-bg;
			color: $d-text1;

			.emphasis {
				color: $d-text2;
				font-weight: 800;
			}

			#caret  {
				animation: blinker-d .6s step-end infinite;
			}

			a {
				color: $d-text1;
				&:visited {
					color: $d-text1;
				} 
			}
		}

		#standard-site {
			background-color: $d-bg;
			color: $d-text1;

			#sidebar {
				background-color: $d-bg2;
			}

			#resume-link {
				a {
					border: 1px solid $d-bg2;
				}
			}

			#gform {
				input {
					color: $d-text1;
					background-color: $d-bg;
					border: 1px solid $d-bg2;
					&:focus {
						background-color: $d-bg2;
					}
				}
				textarea {
					color: $d-text1;
					background-color: $d-bg;
					border: 1px solid $d-bg2;
					&:focus {
						background-color: $d-bg2;
					}
				}
				button {
					color: $d-text1;
					background-color: $d-bg;
					border: 1px solid $d-bg2;
					&:focus {
						background-color: $d-bg2;
					}
					&:hover {
						background-color: $d-bg2;
					}
				}
			}
		}
	}

	&.light {
		#terminal {
			background-color: $l-bg;
			color: $l-text1;

			.emphasis {
				color: $l-text2;
				font-weight: 800;
			}

			#caret  {
				animation: blinker-l .6s step-end infinite;
			}

			a {
				color: $l-text1;
				&:visited {
					color: $l-text1;
				} 
			}
		}

		#standard-site {
			background-color: $l-bg;
			color: $l-text1;

			#sidebar {
				background-color: $l-bg2;
			}

			#resume-link {
				a {
					border: 1px solid $l-bg2;
				}
			}

			#gform {
				input {
					color: $l-text1;
					background-color: $l-bg;
					border: 1px solid $l-bg2;
					&:focus {
						background-color: $l-bg2;
					}
				}
				textarea {
					color: $l-text1;
					background-color: $l-bg;
					border: 1px solid $l-bg2;
					&:focus {
						background-color: $l-bg2;
					}
				}
				button[type="submit"] {
					color: $l-text1;
					background-color: $l-bg;
					border: 1px solid $l-bg2;
					&:focus {
						background-color: $l-bg2;
					}
					&:hover {
						background-color: $l-bg2;
					}
				}
			}
		}
	}
    // Text colors
    .green-txt {
        color: $green;
    }
    .yellow-txt {
        color: $yellow;
    }
    .orange-txt {
        color: $orange;
    }
    .red-txt {
        color: $red;
    }
    .magenta-txt {
        color: $magenta;
    }
    .violet-txt {
        color: $violet;
    }
    .cyan-txt {
        color: $cyan;
    }
    .blue-txt {
        color: $blue;
    }

	.hidden {
		opacity: 0 !important;
        z-index: -10;
        * {
            cursor: default;
        }
	}


	#terminal {
        position: relative;
		box-sizing: border-box;
		transition: all 0.2s;
		height: 100%;
		width: 100vw;
		padding: 30px 50px;
		outline: none;

        #terminal-container {
            min-height: calc(100vh - 60px);
            position: fixed;
            bottom: 30px;
        }

        .output-block {
            width: calc(100vw - 200px);
            margin-bottom: 21px;
            white-space: break-spaces;
            min-height: 1rem;
			a {
				font-weight: 800;
			}
        }


        .input-block {
            width: calc(100vw - 200px);
            margin-bottom: 5px;
            white-space: break-spaces;
            min-height: 1rem;
        }

		#input-container {
			width: calc(100vw - 200px);
		}
		
		.prompt {
			float: left;
			margin-right: 5px;
		}

		.input {
			outline: none;
			vertical-align: text-top;
			display: inline;
			overflow-wrap: anywhere;
			white-space: pre-wrap;
		}

		@keyframes blinker-d {
			0% { background-color: $d-text1; color: $d-bg; }
			50% { background-color: $d-bg; color: $d-text1; }
			100% { background-color: $d-text1; color: $d-bg; }
		}
		@keyframes blinker-l {
			0% { background-color: $l-text1; color: $l-bg; }
			50% { background-color: $l-bg; color: $l-text1; }
			100% { background-color: $l-text1; color: $l-bg; }
		}
		#caret {
			white-space: pre-wrap;
			vertical-align: text-top;
		}
	}

	#standard-site {
		transition: all 0.2s;
		box-sizing: border-box;
		display: flex;
		height: 100%;
		width: 100vw;

		#sidebar {
			transition: all 0.2s;
			width: 20vw;
			height: 100%;

			font-size: 20px;
			display: flex;

			flex-direction: column;
			justify-content: center;
			align-items: center;

			#about-btn {
				color: $red;
			}
			#skills-btn {
				color: $green;
			}
			#experience-btn {
				color: $blue;
			}
			#projects-btn {
				color: $cyan;
			}
			#contact-btn {
				color: $violet;
			}
			// #about-btn {
			// 	color: $green;
			// }
			// #skills-btn {
			// 	color: $cyan;
			// }
			// #experience-btn {
			// 	color: $blue;
			// }
			// #projects-btn {
			// 	color: $blue;
			// }
			// #contact-btn {
			// 	color: $violet;
			// }


			button {
				transition: background-color 0.5s;
				width: 100%;
				text-align: center;
				cursor: pointer;
				&.selected {
					font-weight: 800;
				}
				
				&:hover {
					font-weight: 800;
				}
			}
		}

		#standard-container {
			#standard-content {
				width: 80vw;
				height: 400vh;
			
				transition: transform 0.6s;
			
				&.about {
					transform: translate(0);
				}
				&.skills {
					transform: translate(0, -100vh);
				}
				&.experience {
					transform: translate(0, -200vh);
				}
				// &.projects {
				// 	transform: translate(0, -300vh);
				// }
				&.contact {
					// transform: translate(0, -400vh);
					transform: translate(0, -300vh);
				}
				
				.standard-section {
					min-width: 80vw;
					height: 100vh;
				}

				#about {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    img {
                        object-fit: cover;
                        border-radius: 50%;
                        height: 30vh;
                        width: 30vh;
                    }
                    h1 {
                        text-align: center;
                        white-space: pre-line;
                        font-size: 5.5vh;
                        padding: 0 3vw;
						margin-bottom: 10px;
                    }
                    h2 {
                        font-size: 3.5vh;
                    }
                    p {
                        padding: 0 10vw;
                        margin-top: 5vh;
                        text-align: justify;
                        font-size: 2.5vh;
                    }
				}
				
				#skills {
                    box-sizing: border-box;
                    padding: 50px;

                    display: grid;
                    grid-template-rows: 4fr 2fr 2fr 2fr;
                    grid-template-columns: 5vw repeat(5, 1fr);
                    align-items: center;
                    gap: 50px;
                    overflow: hidden;

                    .skill-name {
                        display: block;
                    }

                    > div {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }

                    img {
                        &.big-icon {
                            width: min(calc(15vw - 70px), calc(40vh - 120px));
                            
                        }
                        &.small-icon {
                            width: min(calc(15vw - 70px), calc(20vh - 70px));
                        }
                    }

                    .skill-category-label {
                        font-size: min(2vw, 4vh);
                        writing-mode: vertical-rl;
                        text-align: center;
                        transform: rotate(335deg);
                    }

                    .skill-name {
                        display: block;
                        text-align: center;
                        margin-top: 5px;
                    }
                    
                    #web-skills-label {
                        grid-area: 2 / 1 / 4 / 2;
                    }
				}
				#experience {
                    box-sizing: border-box;
                    padding: 50px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;

                    > div {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        > span {
                            margin-bottom: 10px;
                        }
                    }

                    h2 {
                        color: $red;
                        font-size: 4vh;
                        margin-bottom: 10px;
                    }

                    h3 {
                        color: $blue;
                        font-size: 3vh;
                        display: inline;
                        margin-left: 5vh;
                    }

                    h4 {
                        color: $green;
                        font-size: 2vh;
                        line-height: 3vh;
                        vertical-align: bottom;
                        display: inline;
                    }


					span {
						color: $violet;
						font-size: 3vh;
					}

                    ul {
                        margin-bottom: 10px;
                    }

                    li {
                        font-size: 2.2vh;
                        list-style: circle;
                        margin-bottom: 5px;
                    }

					#resume-link {
						align-items: center;
						
						a {
							width: 20vh;
							transition: border 0.2s;
							font-size: 4vh;
							padding: 5px 20px;
							border-radius: 5px;
							text-decoration: none;
							color: $violet;
							text-align: center;
						}
					}
				}
				#projects {
                    background-color: $green;
				}
				#contact {
					padding: 50px;
					box-sizing: border-box;
                    position: relative;
					display: flex;
					flex-direction: column;
					justify-content: space-between;

					#gform {
						height: calc(60vh - 50px);

						display: grid;
						grid-template-rows: 1fr 3fr 1fr;
						grid-template-columns: 1fr 1fr;
						align-items: center;
						gap: 50px;

                        transition: opacity 0.3s;

						label {
							height: 100%;
							width: 100%;

							span {
								display: block;
								margin-bottom: 5px;
							}

							input {
								

								font-size: 2.5vh;
								height: 5vh;
								width: 100%;
								font-family: 'Fira Code';
								padding: 2vh 1vh;
								box-sizing: border-box;

								border-radius: 5px;

								transition: background-color 0.2s, border 0.2s;


								&:focus {
									outline: none;
								}
							}

							textarea {
								height: 100%;
								width: 100%;
								resize: none;
								padding: 0;
								margin: 0;

								font-size: 2vh;
								font-family: 'Fira Code';
								padding: 20px;
								box-sizing: border-box;
								transition: background-color 0.2s, border 0.2s;


								&:focus {
									outline: none;
								}
							}
						}
						
						#message-label {
							grid-area: 2 / 1 / 3 / 3;
						}
						button[type="submit"] {
							font-family: "Font Awesome 5 Free";
							grid-area: 3 / 2 / 4 / 3;
							height: 100%;
							width: 60%;
							box-sizing: border-box;
							
							text-align: center;
							border-radius: 5px;
							place-self: end;

							cursor: pointer;

							transition: background-color 0.2s, border 0.2s;

							span {
								font-size: 4vh;
								display: block;
								transition: font-size 0.2s;
							}

							&:hover {
								span {
									font-size: 5vh
								}
							}

							&:focus {
								outline: none;

								span {
									font-size: 5vh
								}
							}
						}
					}
					#submitted-message {
                        position: absolute;
                        top: calc(10vh + 50px);
                        font-size: 5vh;
                        width: calc(80vw - 100px);

                        transition: opacity 1s;
					}

					#contact-links {
						height: calc(30vh - 50px);
						width: calc(100% - 30px);
						display: flex;
						justify-content: space-around;

						a {
							height: 100%;

							display: flex;
							flex-direction: column;
							justify-content: center;

							text-align: center;
							text-decoration: none;

							i {
								font-size: min(calc(15vw - 70px), calc(40vh - 120px));
							}

							span {
								display: block;
							}

							&:visited {
								&.red-txt {
									color: $red;
								}
								&.blue-txt {
									color: $blue;
								}
								&.green-txt {
									color: $green;
								}
							}
						}
					}
				}
			}
		}
	}
}












// Styles/animations for mode button in top right/left
@keyframes mode-button-move-left {
	0%   {background-image: url("../images/site_icon.png"); transform: scale(1) rotate(-5deg); right: 50px;}
	49%  {background-image: url("../images/site_icon.png"); transform: scale(0) rotate(-365deg); left: auto; right: 50px;}
	51%  {background-image: url("../images/terminal_icon.png"); transform: scale(0); left: 50px; right: auto;}
	100% {background-image: url("../images/terminal_icon.png"); left: 50px;}
}
@keyframes mode-button-move-right {
	0% {background-image: url("../images/terminal_icon.png"); transform: scale(1) rotate(5deg); left: 50px;}
	49%  {background-image: url("../images/terminal_icon.png"); transform: scale(0) rotate(365deg); left: 50px; right: auto;}
	51%  {background-image: url("../images/site_icon.png"); transform: scale(0); right: 50px; left: auto;}
	100%   {background-image: url("../images/site_icon.png"); right: 50px;}
}

#mode-button {
	z-index: 1000;
	
	height: 50px;
	width: 50px;
	
	position: fixed;
	top: 30px;
	background-size: 50px 50px;
	
	cursor: pointer;

	transition: transform 0.6s;

	&.terminal {
		right: 50px;
		background-image: url("../images/site_icon.png");
		&:hover {
			transform: rotate(-10deg);
			+ main {
				transform: translate(-5vw);
			}
		}
	}

	&.terminal-to-standard {
		animation-name: mode-button-move-left;
		animation-duration: 0.8s;
		animation-fill-mode: forwards;
	}

	&.standard-to-terminal {
		animation-name: mode-button-move-right;
		animation-duration: 0.8s;
		animation-fill-mode: forwards;
	}

	&.standard {
		left: 50px;
		background-image: url("../images/terminal_icon.png");
		&:hover {
			transform: rotate(10deg);
			+ main {
				transform: translate(-95vw);
			}
		}
	}
}


// Styles/animations for mode button in top right/left
@keyframes rotate-away {
	0%   {transform: rotate3d(0, 1, 0, 0);}
	100%  {transform: rotate3d(0, 1, 0, 90deg);}
}
@keyframes rotate-in {
	0%  {transform: rotate3d(0, 1, 0, 90deg);}
	100%   {transform: rotate3d(0, 1, 0, 0);}
}

#theme-button {
	cursor: pointer;

	z-index: 1000;
	
	height: 30px;
	width: 30px;
	
	position: fixed;
	bottom: 50px;
    right: 50px;

    font-family: "Font Awesome 5 Free";
	font-size: 30px;

	&.light {
		.fa-sun {
			animation-name: rotate-away;
			animation-duration: 0.2s;
		}
		.fa-moon {
			animation-name: rotate-in;
			animation-duration: 0.2s;
		}
	}
	&.dark {
		.fa-moon {
			animation-duration: 0.2s;
			animation-name: rotate-away;
		}
		.fa-sun {
			animation-name: rotate-in;
			animation-duration: 0.2s;
		}
	}
}
