main.desktop {
    #skills {
        box-sizing: border-box;
        padding: 50px;

        display: grid;
        grid-template-rows: 4fr 2fr 2fr 2fr;
        grid-template-columns: 5vw repeat(5, 1fr);
        align-items: center;
        gap: 50px;
        overflow: hidden;

        .skill-name {
            display: block;
        }

        > div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        img {
            &.big-icon {
                width: min(calc(15vw - 70px), calc(40vh - 120px));
                
            }
            &.small-icon {
                width: min(calc(15vw - 70px), calc(20vh - 70px));
            }
        }

        .skill-category-label {
            font-size: min(2vw, 4vh);
            writing-mode: vertical-rl;
            text-align: center;
            transform: rotate(335deg);
        }

        .skill-name {
            display: block;
            text-align: center;
            margin-top: 5px;
        }
        
        #web-skills-label {
            grid-area: 2 / 1 / 4 / 2;
        }
    }
}