@use 'colors';

#experience {
    box-sizing: border-box;
    padding: 3em;
    display: grid;
    grid-template-columns: 3em 1fr;
    grid-template-rows: 2fr 3fr 1fr;
    gap: 2em;

    h2 {
        display: inline;
    }

    img {
        height: 3em;
        width: 3em;
        align-self: center;
    }

    span {
        line-height: 1.5em;
        vertical-align: text-bottom;
    }


    #resume-link {
        grid-column: span 2;
        a {
            transition: color 0.6s ease, border 0.6s ease, background-color 0.6s ease;
            padding: 1em 2em;
            border-radius: 25px;
            text-decoration: none;
            &:hover {
                span {
                    text-decoration: none !important;
                }
            }
            text-align: center;

            span {
                color: inherit;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    #experience {
        padding-top: calc(51px + 2em);
    }
}
@media screen and (max-width: 736px) {
    #experience h2 {
        display: block;
    }
}
