footer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    height: 18em;

    > div {
        width: fit-content;
    }

    #credits {
        padding: 1em;
        display: flex;
        flex-direction: column;
        
        span:first-child {
            text-decoration: underline;
        }
    }

    #contact {
        padding: 1em;
        > span:first-child {
            text-decoration: underline;
        }
        > div {
            display: flex;
            a {
                margin-right: 0.4em;
                font-size: 5em;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 736px) {
    footer {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        justify-items: center;
    }
}