.section-label {
    position: absolute;
    top: 0;
    right: 1em;
    padding: 0 3px;
}

#section-label {
    display: none;
    position: fixed;
    overflow: hidden;
    transition: color 0.6s ease, background-color 0.6s ease, width 0.6s ease, left 0.6s ease;
    padding-top: 10px;
    margin: 0;
    box-sizing: border-box;
    top: 0;
    left: 0;
    height: 51px;
    border-bottom: 1px solid black;
    width: 100vw !important;
    z-index: 100;

    > div {
        height: 14em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: transform 0.5s;
    }

    span {
        position: relative;
        font-size: 2em;
        text-align: center;
        width: 100%;
        display: inline-block;
    }

    &.about {
        > div {
            transform: translate(0,0);
        }
    }
    &.skills {
        > div {
            transform: translate(0, -4em);
        }
    }
    &.experience {
        > div {
            transform: translate(0, -8em);
        }
    }
    &.projects {
        > div {
            transform: translate(0, -12em);
        }
    }
}

@media screen and (max-width: 1024px) {
    .section-label { display: none !important;}
    #section-label {
        display: initial;
        // padding-top: 10px;
        // margin: 0;
        // box-sizing: border-box;
        // top: 0;
        // left: 0;
        // height: 51px;
        // border-bottom: 1px solid black;
        // width: 100vw !important;
        // z-index: 100;
    }
}