#sidebar-button {
    height: 51px;
    box-sizing: border-box;
    position: fixed;
    z-index: 100;
    padding: 11px 18px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    transition: color 0.6s ease, background-color 0.6s ease, left 0.6s ease;
}
#sidebar-checkbox {
    position: fixed;
    z-index: 101;
    width: 50px;
    height: 51px;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    transition: left 0.6s ease;
}